*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow: auto;
    scroll-snap-type: y mandatory;
    background-color: white;
    background: linear-gradient(rgba(0,0,0,0.05),
                                      rgba(0,0,0,0.35));
    scroll-behavior: smooth;
    scroll-snap-align: start;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 4px;
}
body::-webkit-scrollbar-track{
    background: black;
}
body::-webkit-scrollbar-thumb{
    background: hsla(54, 100%, 50%, 0.8);
}
/* ------background------------------ */
.background{
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.05),
                                      rgba(0,0,0,0.3)),
                                      url(../img/1.jpg);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
}


